
<nav class="navbar navbar-default navbar-static-top is-full" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://dynamic.brandcrowd.com/asset/logo/99cb1360-acee-42a6-b0d7-d89aa74e8874/logo?v=4"
                width="50" height="50">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Search
            </a>

            <a class="navbar-item">
                Create
            </a>

            <a class="navbar-item">
                Admin
            </a>

        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                    Log in
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>

<hr>

<p><strong>Coupon</strong></p>
<p>Redeem your coupon for dining</p>

<section class="section">
    <div class="container">


        <div class="columns is-mobile is-multiline is-vcentered">
            <div class="column is-one-quarter is-half-mobile card">

                <div class="text-block">
                    <p>Hong Kong Island</p>
                </div>
                <figure class="image is-square">
                    <img style="object-fit:cover" src="https://picsum.photos/seed/picsum1/500/500" />
                </figure>
                
            </div>



            <div class="column is-one-quarter is-half-mobile card">

                <div class="text-block">
                    <!--- important-->
                    <p>Kowloon</p>
                </div>

                <figure class="image is-squar">
                    <img style="object-fit:cover" src="https://picsum.photos/seed/picsum5/500/1500" />
                </figure>
            </div>




            <div class="column is-one-quarter is-half-mobile card">

                <div class="text-block">
                    <p>New Territory</p>
                </div>
                <figure class="image is-squar">
                    <img style="object-fit:cover" src="https://picsum.photos/seed/picsum2/1500/500" />
                </figure>
            </div>
        </div>
    </div>
</section>

<!--<section>
    <div class="container">
        <div class="is-one-quarter">
            <div class="text-block">
                <p>New Territory</p>
            </div>
            <figure class="image is-squar">
                <img style="object-fit:cover" src="https://picsum.photos/seed/picsum2/1500/500" />
            </figure>
        </div>
    </div>

</section>-->